* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background: url("BG1.jpg") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.185);
  padding: 25px;
  width: 100%;
  max-width: 420px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input, select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cccccc00;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: #4f46e5;
}

.radio-group {
  display: flex;
  gap: 15px;
}

button {
  margin-top: 10px;
  padding: 12px;
  border: none;
  background: #08748f;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #094c61;
}

#status {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
